data
output
myenv
notes

!scripts
scripts/**/__pycache__

experiments/scripts/other
experiments/utility/__pycache__
experiments/scripts/__pycache__
experiments/notebooks/.*

cedar/__pycache__
cedar/build
cedar/*.c
cedar/*.so
cedar/*.html