# directories
output
myenv
notes

# build and log directories
jobs/errors/
jobs/logs/
**__pycache__/
**build/
**.temp/
**.ipynb_checkpoints/

# files
**temp*
**save*
**results*
**.c
**.so
**.html
**catboost*
**.cb.json

# data
data/*/raw/*
data/*/continuous/*
!data/*/raw/readme.txt
data/*/*.npy
data/5xor
data/6xor
data/activity
data/amazon
data/dota2
data/mfc18
data/mfc18_mfc19
data/mfc19
data/mfc20
data/mushroom
data/nc17
data/no_show
data/spect
data/summary.txt
